@inject Repositories.IPostRepository _postRepository;
@using Snackis.Areas.Identity.Data
@using Snackis.Models
<!-- New Thread Modal -->
<button class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#MyModal">
    <i class="bi bi-reply"></i>
    Starta en tråd i @Category
</button>
<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @if (MyUser != null)
            {
                <input type="hidden" aps-for="@PostModel.UserId" value="@MyUser.Id" />
                <input type="hidden" asp-for="@PostModel.Nickname" value="@MyUser.NickName" />
                <input type="hidden" asp-for="@PostModel.Category" value="@Category" />
                <input type="hidden" asp-for="@PostModel.PostParent" value="@ParentPost" />
                <div class="modal-header d-flex align-items-center bg-primary text-white">
                    <h6 class="modal-title mb-0" id="threadModalLabel">Svara i tråden</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Stäng">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="threadTitle">Skriv ditt svar här</label>
                        <input type="text" asp-for="@PostModel.Text" class="form-control" id="threadTitle" placeholder="Skriv ditt svar här" autofocus="" />
                    </div>
                    <textarea class="form-control summernote" style="display: none;"></textarea>
                    <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                        <input type="file" class="custom-file-input" id="customFile" multiple="" />
                        <label class="custom-file-label" for="customFile">Attachment</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Avbryt</button>
                    <button @onclick="SavePost" class="btn btn-primary">Skicka</button>
                </div>
            }
        </div>
    </div>
</div>


@code {
    [Parameter]
    public SnackisUser? MyUser { get; set; }

    [Parameter]
    public string? Category { get; set; }

    [Parameter]
    public string? ImageURL { get; set; }

    [Parameter]
    public string? ParentPost { get; set; }

    public Post PostModel { get; set; } = new();



    //protected override void OnInitialized()
    //{
    //    base.OnInitialized();

    //    PostModel = new Post();
    //    //if (PostFormService.Form != null)
    //    //{

    //    //var data = PostFormService.Form.Keys.ToList();
    //    //Console.WriteLine(data);
    //    //}



    //}
    private void SavePost()
    {

        PostModel.UserId = MyUser.Id;
        _postRepository.AddPostAsync(PostModel);


    }
}
