@*@inject Repositories.IPostRepository _postRepository;
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @if (Model.MyUser != null)
            {
                <form asp-page-handler="addpost">
                    <input type="hidden" asp-for="PostModel.UserId" value="@Model.MyUser.Id" />
                    <input type="hidden" asp-for="PostModel.Nickname" value="@Model.MyUser.NickName" />
                    <input type="hidden" asp-for="PostModel.Category" value="@Model.Category" />
                    <input type="hidden" asp-for="PostModel.ImageURL" value="@Model.ImageURL" />
                    <input type="hidden" asp-for="PostModel.PostParent" value="@post.Id.ToString()" />
                    <div class="modal-header d-flex align-items-center bg-primary text-white">
                        <h6 class="modal-title mb-0" id="threadModalLabel">Svara i tråden</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Stäng">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="threadTitle">Skriv ditt svar här</label>
                            <input type="text" asp-for="PostModel.Text" class="form-control" id="threadTitle" placeholder="Skriv ditt svar här" autofocus="" />
                        </div>
                        <textarea class="form-control summernote" style="display: none;"></textarea>
                        <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                            <input type="file" class="custom-file-input" id="customFile" multiple="" />
                            <label class="custom-file-label" for="customFile">Attachment</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn btn-primary">Skicka</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
@inject Models.PostFormService PostFormService;
@code {
    [Parameter]
    public SnackisUser AllPosts { get; set; }

    [Parameter]
    public Models.Post post { get; set; }
    [Parameter]
    public Models.Post OriginPost { get; set; }
    [Parameter]
    public bool IsReply { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();



        var data = PostFormService.Form?["data"];


        Console.WriteLine(data);

    }
}*@
