@page
@model Snackis.Pages.CategoryViewModel
@{
}
<div class="container">
    <div class="align-content-center">
        <form asp-page-handler="addpost">
            <input type="hidden" asp-for="PostModel.UserId" value="@Model.MyUser.Id.ToString()" />
            <input type="hidden" asp-for="PostModel.Nickname" value="@Model.MyUser.NickName" />
            <input type="hidden" asp-for="PostModel.Category" value="@Model.Category" />

            <div class="text-center"> <label asp-for="PostModel.Title">Titel</label></div>
            <div class="text-center"><textarea asp-for="PostModel.Title"></textarea></div>

            <div class="text-center"> <label asp-for="PostModel.Text">Starta ny tråd i @Model.Category</label></div>
            <div class="text-center"><textarea asp-for="PostModel.Text"></textarea></div>
            <div class="text-center"><button id="submit" type="submit">Skapa! </button></div>
        </form>
    </div>
    <table class="table-hover table-striped " style="width:inherit">
        <tbody>
            <tr>
                <td>
                    @foreach (var thread in Model.AllPosts.Where(p => p.Category == Model.Category && p.Title != null))
                    {
                    <div class="card text-dark bg-light mb-1 rounded">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <p class="col-2 float-left"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="avatar"></p>
                                <a class="col-6 card-title text-dark row" href="?thread=@thread.Id"><h5>@thread.Title</h5></a>
                                <p class="col-2 text-sm-left">11 svar</p>
                                <p class="col-2">15 trådar</p>
                            </div>
                            <div class=" row text-sm-left">
                                <p class="col-4">Av @thread.Nickname</p>
                                <p class="col-4  text-muted">@thread.DateTime</p>
                            </div>
                        </div>
                    </div>
                    }
                </td>
            </tr>
        </tbody>
    </table>

</div>

    
