@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    @if (Model.MyUser != null)
    {
        <h1 class="display-4">Välkommen @Model.MyUser.NickName</h1>
    }
    else
    {

        <h1 class="display-4">Välkommen! Börja  med att <a href="Identity/Account/Register">registrera dig</a></h1>
    }
    
</div>
@if (Model.AllPosts != null)
{
    <div class="container ">
        <table style="width:inherit">
            <thead>
                <tr class="card text-white bg-light">
                    <td>
                        <div class="card text-white bg-dark">
                            <div class="card-body row">
                                <h5 class="col-6 card-title">Kategory</h5>
                                <h5 class="col-4 card-title">Trådar</h5>
                                <h5 class="col-2 card-title">Inlägg</h5>
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @foreach (var post in Model.Categories)
                        {
                            <div class="card text-dark bg-light mb-1">
                                <div class="card-body row">
                                    <a class="col-6 text-dark" href="?category=@post"><h5 class="card-title col-6">@post</h5></a>
                                    <h5 class="card-title col-4">@Model.AllPosts.Where(p => p.Category == post && p.Title != null).Count()<button class="btn btn-default" onclick="HideFunction('@post','message @post')"><p id="message @post">visa fem senaste</p></button></h5>
                                    <h5 class="card-title col-2"><i class="bi bi-envelope"></i> @Model.AllPosts.Where(p => p.Category == post).Where(p => p.PostParent != null).Count()</h5>
                                    <div id="@post" style="display: none">
                                        @foreach (var item in Model.AllPosts.Where(p => p.Category == post && p.Title != null).Take(5))
                                        {
                                            <a href="?category=@item.Category"><p class="text-dark">@item.Title</p></a>
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- New Thread Modal -->
        <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <form>
                        <div class="modal-header d-flex align-items-center bg-primary text-white">
                            <h6 class="modal-title mb-0" id="threadModalLabel">New Discussion</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="threadTitle">Title</label>
                                <input type="text" class="form-control" id="threadTitle" placeholder="Enter title" autofocus="" />
                            </div>
                            <textarea class="form-control summernote" style="display: none;"></textarea>

                            <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                <input type="file" class="custom-file-input" id="customFile" multiple="" />
                                <label class="custom-file-label" for="customFile">Attachment</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   
}



