@page
@model Snackis.Pages.ThreadViewModel
@{
}
<div class="main-body p-0">
    <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
        <div class="container">
            <table style="width:inherit">
                <thead>
                    <tr>
                        <td>
                            <div class="card-body bg-dark text-white">
                                <div class="row">
                                    <h3 class="col-6">@Model.OriginPost.Title</h3>
                                    <button class="btn btn-primary has-icon col-4 float-right" type="button" data-toggle="modal" data-target="#threadModal">
                                        Gör ett inlägg i tråden
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @* Visa alla Trådar i kategorin *@
                            @if (Model.AllPosts != null)
                            {
                                <div class="card mb-2">
                                    <div class="card-body p-2 p-sm-3">
                                        <div class="media forum-item">
                                            <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="@Model.OriginPost.ImageURL" class="mr-3 rounded-circle" width="50" alt="User" /></a>
                                            <div class="media-body">
                                                <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body">@Model.OriginPost.Title</a></h6>
                                                <p class="text-secondary">
                                                    @Model.OriginPost.Text
                                                </p>
                                                <div class="text-muted small text-center align-self-center">
                                                    <div class="row">
                                                        <partial name="_ThreadPostReplyPartial" model="@Model.OriginPost" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @foreach (var post in Model.AllPosts.Where(p => p.PostParent == Model.OriginPost.Id.ToString()))
                                {
                                    <div class="modal fade" id="modal-@post.Id" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                @if (Model.MyUser != null)
                                                {
                                                    <form asp-page-handler="addpost">
                                                        <input type="hidden" asp-for="PostModel.UserId" value="@Model.MyUser.Id" />
                                                        <input type="hidden" asp-for="PostModel.Nickname" value="@Model.MyUser.NickName" />
                                                        <input type="hidden" asp-for="PostModel.Category" value="@Model.Category" />
                                                        <input type="hidden" asp-for="PostModel.ImageURL" value="@Model.ImageURL" />
                                                        <input type="text" name="PostModel.PostParent" value="@post.Id.ToString()" />
                                                        <div class="modal-header d-flex align-items-center bg-primary text-white">
                                                            <h6 class="modal-title mb-0" id="threadModalLabel">Svara i tråden</h6>
                                                            <button type="submit" class="close" data-dismiss="modal" aria-label="Stäng">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="threadTitle">Skriv ditt svar här</label>
                                                                <input type="text" asp-for="PostModel.Text" class="form-control" id="threadTitle" placeholder="Skriv ditt svar här" autofocus="" />
                                                            </div>
                                                            <textarea class="form-control summernote" style="display: none;"></textarea>
                                                            <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                                                <input type="file" class="custom-file-input" id="customFile" multiple="" />
                                                                <label class="custom-file-label" for="customFile">Attachment</label>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light" data-dismiss="modal">Avbryt</button>
                                                            <button type="submit" class="btn btn-primary">Skicka</button>
                                                        </div>
                                                    </form>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    @*<component type="typeof(Components.ThreadReplyCard)" render-mode="Static" param-allposts="@Model.AllPosts" param-originpost="@Model.OriginPost" param-post="@post" param-isreply="@Model.IsReply"/>*@
                                    <div class="card mb-2">
                                        <div class="card-body p-2 p-sm-3">
                                            <div class="media forum-item">
                                                <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="@post.ImageURL" class="mr-3 rounded-circle" width="50" height="50" alt="User" /></a>
                                                <div class="media-body text-break">
                                                    <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body">RE: @Model.AllPosts.Single(p => p.Id.ToString() == post.PostParent).Title</a></h6>
                                                    <button class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#modal-@post.Id">
                                                        <i class="bi bi-reply"></i>
                                                    </button>
                                                    @if (post.AbuseReport)
                                                    {
                                                        <p class="text-secondary" style="filter:blur(2px)">
                                                            @post.Text
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p class="text-secondary">
                                                            @post.Text
                                                        </p>
                                                    }
                                                    <p class="text-muted"><a href="javascript:void(0)">@post.Nickname</a> svarade <span class="text-secondary font-weight-bold">@post.DateTime</span></p>
                                                    <div class="text-muted small text-center align-self-center">
                                                        <div class="row">
                                                            <partial name="_ThreadPostReplyPartial" model="@post" />
                                                            <button class="btn btn-default" onclick="HideFunction('@post.Id', 'message @post.Id')">
                                                                <i id="message @post.Id" class="col-1 bi bi-chat-left-text">@post.Replyes</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="@post.Id" style="display: none">
                                        @foreach (var item in Model.AllPosts.Where(p => p.PostParent == post.Id.ToString()))
                                        {
                                            @*<component type="typeof(Components.ThreadReplyCard)" render-mode="Static" param-allposts="@Model.AllPosts" param-originpost="@Model.OriginPost" param-post="@item" param-isreply="Model.IsReply" />*@
                                            <div class="card mb-2" style="width:80%">
                                                <div class="card-body p-2 p-sm-3">
                                                    <div class="media forum-item">
                                                        <a href="#" data-toggle="collapse" data-target=".forum-content"><img src="@item.ImageURL" class="mr-3 rounded-circle" width="50" height="50" alt="User" /></a>
                                                        <div class="media-body text-break">
                                                            <h6><a href="#" data-toggle="collapse" data-target=".forum-content" class="text-body">RE: @Model.AllPosts.Single(p => p.Id.ToString() == item.PostParent).Title</a></h6>
                                                            <button class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#threadModal">
                                                                <i class="bi bi-reply"></i>
                                                            </button>
                                                            <p class="text-secondary">
                                                                @item.Text
                                                            </p>
                                                            <p class="text-muted"><a href="javascript:void(0)">@item.Nickname</a> svarade <span class="text-secondary font-weight-bold">@Model.OriginPost.DateTime</span></p>
                                                            <div class="text-muted small text-center align-self-center">
                                                                <div class="row">
                                                                    <partial name="_ThreadPostReplyPartial" model="@item" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- New Thread Modal -->
            <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        @if (Model.MyUser != null)
                        {
                            <form asp-page-handler="addpost">
                                <input type="hidden" asp-for="PostModel.UserId" value="@Model.MyUser.Id" />
                                <input type="hidden" asp-for="PostModel.Nickname" value="@Model.MyUser.NickName" />
                                <input type="hidden" asp-for="PostModel.Category" value="@Model.Category" />
                                <input type="hidden" asp-for="PostModel.ImageURL" value="@Model.ImageURL" />
                                <input type="hidden" asp-for="PostModel.PostParent" value="@Model.OriginPost.Id.ToString()" />
                                <div class="modal-header d-flex align-items-center bg-primary text-white">
                                    <h6 class="modal-title mb-0" id="threadModalLabel">Svara i tråden</h6>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Stäng">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="threadTitle">Skriv ditt svar här</label>
                                        <input type="text" asp-for="PostModel.Text" class="form-control" id="threadTitle" placeholder="Skriv ditt svar här" autofocus="" />
                                    </div>
                                    <textarea class="form-control summernote" style="display: none;"></textarea>
                                    <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                                        <input type="file" class="custom-file-input" id="customFile" multiple="" />
                                        <label class="custom-file-label" for="customFile">Attachment</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">Avbryt</button>
                                    <button type="submit" class="btn btn-primary">Skicka</button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
            </div>
        </div>
