<!DOCTYPE html>
<html lang="en">
<head>

    @*<meta charset="utf-8" />*@
    <meta charset="iso-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Snackis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <!-- Bootstrap CSS CDN -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">*@
    <!-- Font Awesome JS -->

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
    @using Microsoft.AspNetCore.Identity
    @using Snackis.Areas.Identity.Data
    @inject SignInManager<SnackisUser> SignInManager
    @inject UserManager<SnackisUser> UserManager
    @inject Repositories.IPostRepository _postRepository
    @inject Repositories.IChatRepository _chatRepository
    @{
        var loginModel = (Models.LoginModel)ViewData["LoginModel"];
        //var forums = (List<Models.Post>)ViewData["Forums"];
        var user = await UserManager.GetUserAsync(User);
        var forums = _postRepository.GetPosts().Result.Where(p=>p.Heading != null && p.Category == null);
    }
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>*@
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <div class="wrapper" >
        <nav id="sidebar" > 
            <div class="sidebar-header">
                <h3>Snackis</h3>
            </div>
            <ul class="list-unstyled components  ">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Välj Forum</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        @foreach (var forum in forums)
                        {
                            <li>
                                <a asp-page="/ForumView" onclick="setCookie('MyForumCookie', '@forum.Id')">@forum.Heading</a>
                            </li>

                        }

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sidor</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-area="" asp-page="/Index">Hem</a>

                        </li>
                        <li>
                            <a asp-area="" asp-page="/Privacy">Policy</a>
                        </li>
                        @if (user != null && await UserManager.IsInRoleAsync(user, "Admin"))
                        {
                            <li>
                                <a asp-page="/Admin/Index">Admin</a>
                            </li>
                        }
                        

                    </ul>
                </li>
                <li>
                    <a href="#">Kontakt</a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    
                    <li>
                        <a asp-page="/Chat/Index">Meddelanden  <p style="font-size: xx-small" class="float-right">@_chatRepository.GetAllChats().Result.Where(c => c.ReceiverId == user.Id && c.IsRead == false).Count() olästa </p></a>
                    </li>
                }
            </ul>
            <partial name="_LoginSidebarPartial" />
        </nav>
        <div id="content" style="width:inherit;">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        @*<span>Toggle Sidebar</span>*@
                    </button>
                </div>
            </nav>
            <div>
                <partial name="_CookieConsentPartial"/>
                <main role="main" class="pb-3" >
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Snackis - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>
