@using Snackis.Pages
@model Models.Post

    <form asp- asp-page-handler="react" method="post">
        <button class="btn btn-default">
            <i class=" col-1 bi bi-hand-thumbs-up">@Model.Likes</i>
        </button>
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="value" value="Likes" />
    </form>
    <form asp-page-handler="react" method="post">
        <button class="btn btn-default">
            <i class=" col-1 bi bi-hand-thumbs-down">@Model.DisLikes</i>
        </button>
        <input type="hidden" name="id" value="@Model" />
        <input type="hidden" name="value" value="Dislikes" />
    </form>
    <form asp-page-handler="react" method="post">
        <button class="btn btn-default">
            <i class="bi bi-flag">@Model.Replyes</i>
        </button>
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="value" value="Abuse" />
    </form>
